.white-space {
    background-color: white;
    margin-left: 7%;
    margin-top: 5%;
    margin-right: 7%;
    
}
.heading {
    margin-left: 5%;
}
.card {
    
   width: 85%;
}
.tag {
    width: 15%;
}
.temp {
    border: solid;
}
.container {
    display: flex;
}