.white-space {
    background-color: white;
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 10%;
    
}
.heading {
    margin-left: 5%;
}
.card {
    
   width: 70vw;
}
.tag {
    width: 30vw;
}
.temp {
    border: solid;
}
.container {
    display: flex;
}